@import "mocha.css"; 

* {
    font-family: "MesloLGS Nerd Font Mono Bold";
    font-size: 16px;
    min-height: 0;
    font-weight: bold;

    padding-top: 1px;
    padding-right: 2px;
    padding-left: 2px;
}

window#waybar {
    background: transparent;
    /* background-color: #592138; */
    color: #ff8080;
    transition-property: background-color;
    transition-duration: 0.1s;
    /* border-bottom: 2px solid #ff8080; */ 
}

window#waybar.empty #window {
  background: transparent;
}

#window {
   margin: 7px;
    padding-left: 8;
    padding-right: 8;
    background: rgba(255, 210, 210, 0.1);
    border: hidden;
    border-radius: 8px;
    color: #ffc7c7;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2)
    empty-text: "";
}

button {
    background: rgba(255, 210, 210, 0.1);
    border: hidden;
    border-radius: 8px;
    padding: 0px 4px;
    margin: 2px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2)
}

button:hover {
}

#workspaces button {
    color: #ffcfcf;
}

#workspaces button.focused {
    color: #ffcfcf;
}

#workspaces button.active {
    background: rgba(255, 170, 170, 0.1);
    color: #ffaaaa;
}

#workspaces button.urgent {
    background: rgba(255, 62, 48, 0.15);
    color: #ffcfcf;
}

#pulseaudio,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#mode,
#scratchpad {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

#clock {
    background: rgba(255, 210, 210, 0.1);
    color: #ffcfcf;
    border: hidden;
    border-radius: 8px;
    padding: 0px 4px;
    margin: 2px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2)
}

#clock.date {
    background: rgba(255, 210, 210, 0.1);
    color: #ffcfcf;
    border: hidden;
    border-radius: 8px;
    padding: 0px 4px;
    margin: 2px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2)
}

#pulseaudio {
    background: rgba(255, 210, 210, 0.1);
    color: #ffcfcf;
    border: hidden;
    border-radius: 8px;
    padding: 0px 4px;
    margin: 2px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2)
}

#network {
    background: rgba(255, 210, 210, 0.1);
    color: #ffcfcf;
    border: hidden;
    border-radius: 8px;
    padding: 0px 4px;
    margin: 2px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2)
}

#idle_inhibitor {
    margin-right: 12px;
    color: #7cb342;
}

#idle_inhibitor.activated {
    color: @red;
}

#battery {
    color: @green;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

#custom-vpn {
    color: @lavender;
    border-radius: 15px;
    padding-left: 6px;
    padding-right: 6px;
}
